@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');
@import './variables';

@font-face {
  font-family: 'satoshi-light';
  src: url('/fonts/Satoshi-Light.woff') format('woff');
}
@font-face {
  font-family: 'satoshi-regular';
  src: url('/fonts/Satoshi-Regular.woff') format('woff');
}
@font-face {
  font-family: 'satoshi-medium';
  src: url('/fonts/Satoshi-Medium.woff') format('woff');
}
@font-face {
  font-family: 'satoshi-bold';
  src: url('/fonts/Satoshi-Bold.woff') format('woff');
}

@font-face {
  font-family: 'satoshi-black';
  src: url('/fonts/Satoshi-Black.woff') format('woff');
}
// --tw-ring-offset-color: #000 !important;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  --tw-ring-offset-color: #fff !important;
}
html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  width: 100%;
  font-family: 'satoshi-regular';
  font-weight: normal;
  background: $bgBlack;
  color: $whiteTextPrimary;
  position: relative;
}

input,
textarea,
button {
  outline: none;
  border: none;
}
button {
  cursor: pointer;
}

.calendly-overlay {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100vw !important;
  height: 100vh !important;
  z-index: 9999999999999 !important;
  overflow: visible !important;
  background: rgba(0, 0, 0, 0.5) !important; /* Ensure overlay is visible */
}

.calendly-popup {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  max-width: none !important;
  max-height: none !important;
  z-index: 10000 !important;
  display: flex !important; /* Ensure inner content aligns properly */
  justify-content: center !important;
  align-items: center !important;
}

.calendly-popup-content {
  width: 100% !important;
  height: 100% !important;
  max-height: 90vh !important; /* Limit height but allow scrolling */
  max-width: 90vw !important; /* Limit width for better fit */
  margin: auto !important; /* Center the content */
  overflow-y: auto !important; /* Allow scrolling if content overflows */
}

// .calendly-close-overlay {
//   display: block !important; /* Ensure close button overlay is visible */
//   z-index: 10001 !important;
//   position: absolute !important;
//   right: 0 !important;
// }

.calendly-popup-close {
  position: absolute !important;
  left: 50%;
  top: 4rem;
  background: #f35454;
  color: #fff !important;
  width: 32px;
  height: 32px;
  display: flex !important;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 50%;
  z-index: 999999999;
  cursor: pointer;
}
*,
:after,
:before {
  --tw-ring-offset-color: #000 !important;
}
// --tw-ring-offset-color: #fff;
.relative {
  border: none !important;
  box-shadow: none !important;
  offset-color: transparent !important;
  offset: none !important;
}

// .overflow-hidden.box-content {
//   display: none !important;
// }
